.container {
  width: 100%;
  padding: 0 38px;
}

.body_header {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body_search {
  position: relative;
}

.body_search input {
  width: 560px;
  height: 44px;
  background-color: #808080;
  border-radius: 30px;
  padding-left: 20px;
  outline: none;
}

.body_search .icon_search {
  position: absolute;
  right: 35px;
  font-size: 26px;
  top: 9px;
}

.body_right {
  display: flex;
}

.body_right .icon {
  font-size: 24px;
  cursor: pointer;
}

.content {
  // border: 1px solid #fff;
  // height: 340px;
  display: flex;
}

.content img {
  width: 333px;
  object-fit: contain;
}

.content span {
}

.content_text {
  margin-left: 50px;
}

.content_text .author {
  font-size: 44px;
  margin-top: 30px;
}

.content_text h3 {
  // position: absolute;
  // bottom: -45px;
}
