.navbar{
    width: 300px;
}

.header_nav{
    text-align: center;
}

.logo{
    padding: 20px;
    font-size: 30px;
}

.body_favorite a,
.body_lib a,
.discovery a,
.trend a,
.home a{
    display: flex;
    align-items: center;
    height: 50px;
    width: 50%;
    margin: auto;
}

.icon{
    margin-right:20px;
    font-size: 20px;
}

.body_nav .title{
    color: #bbb;
    text-align: center;
    margin-top: 20px;
}